[submodule "OCA/l10n-italy"]
	path = OCA/l10n-italy
	url = git@github.com:OCA/l10n-italy.git
	branch = 14.0

[submodule "agavariat/account_tax_balance"]
	path = agavariat/account_tax_balance
	url = git@github.com:agavariat/account_tax_balance.git
	branch = main

[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 14.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 14.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 14.0

[submodule "OCA/partner-contact/partner_firstname"]
	path = OCA/partner-contact/partner_firstname
	url = git@github.com:OCA/partner-contact.git
	branch = 14.0

[submodule "odoo-web-addons"]
	path = odoo-web-addons
	url = git@github.com:Numigi/odoo-web-addons.git
	branch = 14.0
